@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface');

body {
  margin: 0;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --cinnabar: #E63B2E;
  --mint-cream: #F2F7F2;
}