.polka-dot-bg {
    background-image: radial-gradient(#212121 20%, transparent 20%);
    background-size: 10px 10px;
}

.songs-list {
    list-style: none;
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    border: 10px solid var(--mint-cream);
    color: var(--mint-cream);
    font-family: sans-serif;
}

.songs-list li {
    cursor: pointer;
    position: relative;
    margin-bottom: 8px;
}

.songs-list li:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Track info */
.info {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-top: 10px;
}

.info-name {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

.info-artist {
    font-size: 20px;
}

.songs-list li.selected .info-name,
.songs-list li:hover .info-name {
    color: var(--cinnabar);
}

/* Artwork and Player commands*/
.img-hover {
    display: none;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    z-index: 1;
    color: var(--cinaber);
}

.songs-list li:hover .img-hover {
    display: block;
}

.artwork,
.img-hover {
    border-radius: 50px;
}

li.playing .artwork {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.icon {
    width: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -25px;
}

.icon.pause {
    margin-left: -24px;
}

li.playing .play {
    display: none;
}

li:not(.playing) .pause {
    display: none;
}